.input-user {
    outline: none;
    width: 100% !important;
    box-shadow: none !important;
}

label.input-label {
    position: absolute;
    left: 5px;
    transition: .5s;
}

.input-user:focus ~ .input-label,
.input-user:valid ~ .input-label{
    transform: translateY(-2vh);
    font-size: 75%;
}

#bg {
    background-image: url('../images/RegisterPageBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}